{% extends "app/layout.html" %}

{% block description %}

 <span class="desc-text"> 
  {{greetings|safe }}
 </span>

{% endblock %}

{% block content %}
<div class="documents-block">
  <div class="content-header">Нормативные документы</div>
  <div class="content-text">
  </br>
    <p>Основными нормативными документами, которыми руководствуется факультет ФКИ при осуществлении образовательной деятельности, являются:</p>
    <ul class="document-list">
      <li><a href="https://fzrf.su/zakon/ob-obrazovanii-273-fz/" class="content-link">Федеральный закон 
      "Об образовании в Российской Федерации" от 29.12.2012 № 273-ФЗ</a>,</li>
      <li><a href="https://cosmos.msu.ru/sites/default/files/inline-files/msu-spbgu.pdf" class="content-link">Федеральный закон 
      "О Московском государственном университете имени М.В.Ломоносова и Санкт-Петербургском государственном университете" 
      от 10.11.2009 № 259-ФЗ</a>,</li>
     <li><a href="https://cosmos.msu.ru/sites/default/files/inline-files/gov_20080328_223.pdf" class="content-link">
      Устав федерального государственного бюджетного образовательного учреждения высшего профессионального образования 
      «Московский государственный университет имени М.В.Ломоносова»</a>.</li>
    </ul>
    <p>Право приёма граждан и право реализации образовательных программ закреплены 
      <a href="https://cosmos.msu.ru/sites/default/files/inline-files/lic2015.pdf" class="content-link">лицензией на право ведения образовательной деятельности</a> 
      (серия 90Л01 № 0008333, регистрационный № 1353 от 01.04.2015, срок действия: бессрочно). </p>
    <p>Право выдавать выпускникам документы о соответствующем уровне образования и квалификации закреплено 
      <a href="https://cosmos.msu.ru/sites/default/files/inline-files/sv2015_1308.pdf" class="content-link">свидетельством 
      о государственной аккредитации</a> (серия 90А01 № 0001389, регистрационный номер 1308 от 1 июня 2015 года, 
      действительно до 3 июля 2020 года). </p>
    <p>lic2015_1	lic2015_2	sv2015_1308</p>
    <p>Ссылка на страницу с лицензией на право ведения образовательной деятельности на официальном сайте МГУ: 
      <a href="http://www.msu.ru/study/lic/" class="content-link">http://www.msu.ru/study/lic/</a>. </p>
    <p>Ссылка на страницу со свидетельством о государственной аккредитации на официальном сайте МГУ: 
      <a href="http://www.msu.ru/study/lic/akkredit/sv.html" class="content-link">http://www.msu.ru/study/lic/akkredit/sv.html</a>. </p>
    <p>Приказ №117 от 16 февраля 2017 года о создании ФКИ МГУ:</p>
    <p>Приказ об основании ФКИ МГУ   Выписка из протокола заседания Уч.совета</p>
    
    <div class="content-subheader">ЛОКАЛЬНЫЕ НОРМАТИВНЫЕ АКТЫ</div>
    <details> <!-- <details open> -->
      <summary>Приказы по факультету (разное)</summary>
      <ul class="document-list">
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%201в%20от%2022.05.2017%20рук.прогр.%20ВР%20Садовничий.pdf" class="content-link">
        Приказ №1в от 22.05.2017 О назначении руководителя программы магистратуры "Интеллектуальные технологии смешанной реальности"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%201г%20от%2022.05.2017%20утв.рук.прогр.%20ДЗЗ%20Лупян.pdf" class="content-link">
        Приказ №1г от 22.05.2017 О назначении руководителя программы магистратуры "Методы и технологии ДЗЗ"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%201б%20от%2022.05.2017%20рук.прогр.ГУ%20Сурин.pdf" class="content-link">
        Приказ №1б от 22.05.2017 О назначении руководителя программы "ГУ в космиечской отрасли"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ15е%20от%2030.10.2017_утв.рук.прогр.ВР%20Садовничий.pdf" class="content-link">
        Приказ № 15е от 30.10.2017 Об утверждении назначения руководителя программы "Интеллект.технологии..."</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%2015г%20от%2030.10.2017_Рук.прогр.ДЗЗ%20Лупян.pdf" class="content-link">
        Приказ № 15г от 30.10.2017 Об утвержд. назначения руководителя программы ДЗЗ</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%2015д%20от%2030.10.2017%20утв.%20рук.прогр.ГУ%20Сурин.pdf" class="content-link">
        Приказ №15д от 30.10.2017 Об утверждении рук.прогр. ГУ</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/96ас%20от%2023.01.2018%20Приказ%20о%20предоставлении%20академического%20отпуска.pdf" class="content-link">
        Приказ №96 от 23.01.2018 О предоставлении академического отпуска</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%2019а%20от%2023.04.2018%20рук.прогр.КиМ%20Окунев.pdf" class="content-link">
        Приказ №19а от 23.04.2018 О назначении руководителя программы "Космос и механика"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%2020а%20от%2023.04.2018_рук.прогр.КМБИ%20Григорьев.pdf" class="content-link">
        Приказ № 20а от 23.04.2018 О назначении руковод. программы КМБИ</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%2029а%20от%2011.07.2018%20рук.прогр.%20ЛиП%20Кораблев.pdf" class="content-link">
        Приказ № 29а от 11.07.2018 О назначении руководителя прогр. "Исследования Луны и планет"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/12%20от%2026.03.2019%20О%20создании%20архива%20текстов%20ВКР.pdf" class="content-link">
        Приказ №12 от 26.03.2019 О создании архива текстов ВКР</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/460%20от%2018.04.2019%20О%20назначении%20предметных%20экзаменационных%20комиссий.pdf" class="content-link">
        Приказ №460 от 18.04.2019 О назанчении предметных экзаменационных комиссий</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/20%20от%2026.04.2019%20Приказ%20о%20проведении%20преддипломной%20практики%20для%20студентов%20ФКИ.pdf" class="content-link">
        Приказ №20 от 26.04.2019 О проведении преддипломной практики</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приказ%2036а%20от%2019.07.2019%20рук.прогр.РТ%20Соколов.pdf" class="content-link">
        Приказ № 36а от 19.07.2019 О назначении руководителя программы "Робототехника..."</a></li>
      </ul>
    </details>
    
    <details> 
      <summary>Договоры о сетевой форме реализации образовательных программ ФКИ</summary>
      <ul class="document-list">
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ФКИ%20МГУ_ИКИ%20РАН%20сетевая%20форма%20реализации%20образовательной%20программы.pdf" class="content-link">
        Договор о сетевой форме реализации образовательной программы "Методы и технологии дистанционного зондирования Земли" (ИКИ РАН)</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ФКИ%20МГУ_ИМБП%20РАН%20сетевая%20форма%20реализации%20образовательной%20программы.pdf" class="content-link">
        Договор о сетевой форме реализации образовательной программы "Космические медико-биологические исследования" (ИМБП РАН)</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ФКИ%20МГУ_ИПМ%20имени%20Келдыша%20РАН_сетевая%20форма%20реализации%20обр.%20программы.pdf" class="content-link">
        Договор о сетевой форме реализации образовательной программы "Методы и технологии дистанционного зондирования Земли" (ИПМ РАН)</a></li>
      </ul>
    </details>

    <details> 
      <summary>Договоры об организации и проведении практик студентов</summary>
      <ul class="document-list">
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ЦПК%20имени%20Гагарина_практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в ЦПК имени Ю.Гагарина</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ЦНИИмаш_практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в ЦНИИмаш</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ЦНИИмаш_практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в ФГУП "АГАТ"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/РКС%20практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в РКС</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/РКК%20Энергия_практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в РКК "Энергия"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/АО%20Главкосмос_практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в АО "Главкосмос"</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ИКИ%20РАН%20практика%202018.pdf" class="content-link">
        Договор об организации и проведении практики студентов в ИКИ РАН (2018 г.)</a></li>
        <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/ИКИ%20РАН%20практика.pdf" class="content-link">
        Договор об организации и проведении практики студентов в ИКИ РАН (2019 г.)</a></li>
      </ul>
    </details>
    <details> 
        <summary>Проведение промежуточных аттестаций студентов на ФКИ</summary>
        <ul class="document-list">
          <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/Приказ%2012а%20от%2010%20октября%202017%20О%20проведении%20ПА.pdf" class="content-link">
          10.10.2017 Приказ 12а О проведении промежуточной аттестации</a></li>
          <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/Приказ%207а%20от%2020%20марта%202018%20г.%20О%20проведении%20ПА.pdf" class="content-link">
          20.03.2018 Приказ 7а О проведении промежуточной аттестации</a></li>
          <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/Приказ%2038%20Промежуточн.аттестация%20октябрь%202018.pdf" class="content-link">
          19.10.2018 Приказ 38 О проведении промежуточной аттестации</a></li>
          <li><a href="https://cosmos.msu.ru/sites/default/files/2019-11/Приказ%2044%20ПА%2024%20сент%202019.pdf" class="content-link">
          24.09.2019 Приказ 44 О проведении промежуточной аттестации</a></li>
        </ul>
      </details>
    <p><a href="https://cosmos.msu.ru/sites/default/files/inline-files/Самообследование%20ФКИ%202017.docx" class="content-link">Отчет о самообследовании ФКИ (2017 г.)</a></p>
    <p><a href="https://cosmos.msu.ru/sites/default/files/inline-files/Результаты%20самообследования%20ФКИ%202018.docx" class="content-link">Отчет о самообследовании ФКИ (2018 г.)</a></p>
    <p>Общественная аккредитация организации (факультета) и независимая оценка качества подготовки обучающихся в период с февраля 2017 г. 
      по февраль 2020 г. не проводились. </p>
    <p>Единственным официальным порталом, представляющим ФКИ МГУ имени М.В. Ломоносова в сети интернет, является портал cosmos.msu.ru, 
      на котором вы находитесь.</p>
    <p>У факультета нет официальных групп в каких-либо социальных сетях, например, vk.com, odnoklassniki.ru, facebook.com, twitter.com и др.</p>
    
    <div class="content-subheader">Файлы</div>
    <p><a href="https://cosmos.msu.ru/sites/default/files/2019-11/Численность%20обучающихся%20ФКИ%20на%2010ноября2019.docx" class="content-link">Численность обучающихся на 10.11.2019</a></p>
    <p><a href="https://cosmos.msu.ru/sites/default/files/2020-01/Приложение%204_движение%20контингента%20осень%202019.doc" class="content-link">Информация о результатах перевода, восстановления и отчисления с 01.09.2019 по 10.11.2019</a></p>
  </div>
</div>
{% endblock %}

{% block footer %}
{% block copyright %}
Официальный сайт МГУ
{% endblock %}
{% endblock %}