<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"  charset="utf-8" >
    <title>{{ title }} - My Django Application</title>
    {% load static app_extras embed_video_tags%}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>




<body>
    <div class="page">
         <div class="left-part col-lg-4 col-sm-12">
                
                <div>
                    <div class="giant header">
                        Факультет<br>космических<br>исследований
                        
                    </div>
                    <div class="icon very-big logo main-logo"></div>
                    <div class="tiny header">
                        Московского государственного университета имени М.В.Ломоносова
                    </div>
                </div>

                <div class="navbar">
                    <a href="/about"><span id="about">О нас</span></a>
                    <a href="/news"><span id="news">Новости</span></a>
                    <a href="/events"><span id="events">События</span></a>
                    <a ><span id="people">Люди</span></a>
                    <a ><span id="science">Наука</span></a>
                    <a ><span id="education">Образование</span></a>
                    <a ><span id="pk">Приемная комиссия</span></a>
                </div>

                {% block description %}{% endblock %}

                <div></div>
        </div>

         <div class="right-part col-lg-8">
             
             {% block content %}{% endblock %}
              
         </div>
    </div>
</body>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
    if ('{{page_name}}'!='')
     document.getElementById('{{page_name}}').className += " selected";

});
</script>
</html>

